.public-header {
  h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: #fff;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 10px;

    li {
      display: inline-block;
      padding: 0 10px;

      a {
        &.active {
          color: yellow;
        }
      }
    }
  }
}
